@media screen and (max-width: 450px ){
    #menu-input {       
        display: none;     
    }
    #menu-input:checked + #hamburger + .menu-list{
        display: flex;
        flex-direction: column;       
        background-color: #0000EC;   
        left: 0; /*para que vuelva a entrar y haga efecto con el transition*/
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%; /*es para que se oculte todo a la izquierda*/
        width: 100%;  
        overflow: hidden;
        transition: all 0.3s ease-out; 
    }     
    #hamburger {         
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #hamburger span {
        background-color: #000000;
        width: 22px;
        height: 3px;
        margin: 2px; 
        transition: all 0.3s ease-in-out; 
        cursor: pointer;             
    }
    #menu-input:checked + .menu-list {
        width: 100%;
    }
    #menu-input:checked + #hamburger span:nth-of-type(1) {
        transform: rotate(-45deg) translateY(10px);    
    }
    #menu-input:checked + #hamburger span:nth-of-type(3) {
        transform: rotate(45deg) translateY(-10px);
    }
    #menu-input:checked + #hamburger span:nth-of-type(2) {
       opacity: 0;
    }  
    ul li {
        padding: 25px;
    }  
    /*-------fin menu hamburguesa------*/
    header ul {
        background-color: #0000A3;
    transition: 0.5s all;

    }   
    ul a {
        color: white;                
    }    
    h1 {       
        font-size: 36px;
        line-height: 42px;
    }
    .wrapper {
        justify-content: space-between;
    }
    .main1 {
        margin-left: 20px;
    }
    .text1 {
        width: 288px;
        height: 66px;
        font-size: 14px;
        line-height: 22px; 
    }
    .knowme {
        width: 288px;
        height: 48px;
        font-size: 16px;
        line-height: 22px;
        margin-top: 50px;
        margin-left: 50px;        
    }
    .ep {
        font-size: 36px;
        line-height: 42px;
        margin-left: 10px;
        position: relative;
        padding-bottom: -80px;
        margin-top: -100px;        
    }
    .episodes{
        width: 100%;
        height: 1303.5px;
    }
    iframe {
        width: 98%;                
    }
    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
     }
    .imgPhone{
        width: 370px;
        height: 519px;
        margin-top: -100px;
        margin-left: 45px;
    }
    .p-y-h2 {
        margin-left: 20px;
    }
    .de-donde-venimos{
        width: 288px;
        font-size: 36px;
        line-height: 42px;
    }
    .p-about-us {
        width: 400px;
        font-size: 14px;
        line-height: 22px;
    }
    .h2-interview {
        width: 288px;
        height: 84px;
        font-size: 36px;
        line-height: 42px;
        margin-left: 20px;
    }
    .women img {
        width: 100%;
    }
    .topic-h2 {
        width: 288px;
        height: 84px;
        font-size: 36px;
        line-height: 42px;
        margin-left: 20px;
    }
    .topics-container {        
        display: flex;
        flex-direction: column;
    }
    .topics-div {
        margin-bottom: 35px;
        align-items: center;
    }
    .last-container {
        width: 100%;
        height: 341px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        /* transform: skewY(-4deg); */
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 12%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 12%);
    }
    .h2-last {
        font-size: 36px;
        line-height: 42px;
        width: 288px;
        height: 126px;
        margin-top: 80px;
    }
    .escucha-ep {
        width: 288px;
        height: 48px;
        font-size: 16px;
        text-align: center;
        line-height: 22px;
    }
    .footer-p-social {
        display: flex;
        flex-direction: column;
    }
    .p-footer {
        font-size: 14px;
        line-height: 22px;
    }
    .icons-social{
        margin-top: 12px;
        width: 53%;
        justify-content: space-between;
    }
}

/* ----------------------------------------------------------- */
@media screen and (min-width:451px) and (max-width: 700px ){
/* -----------MENU HAMBURGUESA--------- */
    #menu-input {       
        display: none;     
    }
    #menu-input:checked + #hamburger + .menu-list{
        display: flex;
        flex-direction: column;       
        background-color: #0000EC;   
        left: 0; /*para que vuelva a entrar y haga efecto con el transition*/
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%; /*es para que se oculte todo a la izquierda*/
        width: 100%;  
        overflow: hidden;
        transition: all 0.3s ease-out; 
    }     
    #hamburger {         
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #hamburger span {
        background-color: #000000;
        width: 22px;
        height: 3px;
        margin: 2px; 
        transition: all 0.3s ease-in-out; 
        cursor: pointer;             
    }
    #menu-input:checked + .menu-list {
        width: 100%;
    }
    #menu-input:checked + #hamburger span:nth-of-type(1) {
        transform: rotate(-45deg) translateY(10px);    
    }
    #menu-input:checked + #hamburger span:nth-of-type(3) {
        transform: rotate(45deg) translateY(-10px);
    }
    #menu-input:checked + #hamburger span:nth-of-type(2) {
       opacity: 0;
    }  
    ul li {
        padding: 25px;
    }  
    /*-------fin menu hamburguesa------*/
    header ul {
        background-color: #0000A3;
    transition: 0.5s all;

    }   
    ul a {
        color: white;                
    }    
    h1 {       
        font-size: 36px;
        line-height: 42px;
    }
    .wrapper {
        justify-content: space-between;
    }
    .main1 {
        margin-left: 20px;
        display: flex;
        justify-content: space-around;
    }
    .text1 {
        width: 450px;
        height: 66px;
        font-size: 15px;
        line-height: 22px; 
    }
    .knowme {
        width: 288px;
        height: 48px;
        font-size: 16px;
        line-height: 22px;
        margin-top: 50px;
        margin-left: 50px; 
    }
    .ep {
        font-size: 36px;
        line-height: 42px;
        margin-left: 10px;
        position: relative;
        padding-bottom: -80px;
        margin-top: -100px;        
    }
    .episodes{
        width: 100%;
        height: 1303.5px;
    }
    iframe {
        width: 98%;                
    }
    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
     }
    .imgPhone{
        width: 370px;
        height: 519px;
        margin-top: -100px;
        margin-left: 45px;
    }
    .p-y-h2 {
        margin-left: 20px;
    }
    .de-donde-venimos{
        width: 388px;
        font-size: 36px;
        line-height: 42px;
    }
    .p-about-us {
        width: 430px;
        font-size: 15px;
        line-height: 22px;
    }
    .h2-interview {
        width: 388px;
        height: 84px;
        font-size: 36px;
        line-height: 42px;
        margin-left: 20px;
    }
    .women img {
        width: 100%;
    }
    .topic-h2 {
        width: 388px;
        height: 84px;
        font-size: 36px;
        line-height: 42px;
        margin-left: 20px;
    }
    .topics-container {        
        display: flex;
        flex-direction: column;
    }
    .topics-div {
        margin-bottom: 35px;
        align-items: center;
    }
    .last-container {
        width: 100%;
        height: 341px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        /* transform: skewY(-4deg); */
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 12%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 12%);
    }
    .h2-last {
        font-size: 36px;
        line-height: 42px;
        width: 288px;
        height: 126px;
        margin-top: 80px;
    }
    .escucha-ep {
        width: 288px;
        height: 48px;
        font-size: 16px;
        text-align: center;
        line-height: 22px;
    }
    .footer-p-social {
        display: flex;
        flex-direction: column;
    }
    .p-footer {
        font-size: 14px;
        line-height: 22px;
    }
    .icons-social{
        margin-top: 12px;
        width: 53%;
        justify-content: space-between;
    }
}
/* -------Media para parrafo de donde venimos------- */
@media screen and (min-width:500px) and (max-width: 699px ) {
    .p-y-h2 {
        width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* -------TABLET------- */
@media screen and (min-width: 700px) and (max-width: 1000px ) {    
    .main1 {
        margin: 0 auto;       
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
    .knowme {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 35px;
    }
    .about-us{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgPhone {
        margin-left: 45px;
    }
    .p-y-h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .women img {
        width: 50%;        
    }   
    .ep {
        margin-left: -55px;
    }
    .h2-interview{
        margin-left: 20px;
    }
    .topic-h2 {
        margin-left: 20px;
    }
    .topics-container {
        flex-direction: column;
    }
    .topics-div {
        margin-bottom: 30px;
    }
    .last-container {
        margin-top: -15px;
    }
    .icons-social {
        width: 25%;
    }
}